<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Matthew Hess">
    <meta name="keywords" content="components">
    <meta name="description" content="Layout Training">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Challenge #3</title>
    <link href="../css/main.css" rel="stylesheet">
    <link href="css/layout1.css" rel="stylesheet">
    <script>
        // JAVASCRIPT
    </script>
</head>

<body>

    <!-- WRAPPER -->
    <div class="wrapper">
        <div class="flex-container">
            <div class="box box1">
                <p>div1</p>
            </div>
            <div class="box box-negative-space">
            </div>
            <div class="box box2">
                <p>div2</p>
            </div>
            <div class="box-spacer">
            </div>
            <div class="box box3">
                <p>div3</p>
            </div>
        </div>
    </div>
    <!--// ENDS: WRAPPER -->

</body>

</html>
