<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Matthew Hess">
    <meta name="keywords" content="components">
    <meta name="description" content="Layout Training">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Challenge #3</title>
    <link href="../css/main.css" rel="stylesheet">
    <link href="css/layout3.css" rel="stylesheet">
    <script>
        // JAVASCRIPT
    </script>
</head>

<body>
    <!-- WRAPPER -->
    <div class="wrapper">
        <div class="header-container">
            <div class="header-item">
            </div>
            <!--// ENDS: HEADER-ITEM-->
        </div>
        <!--// ENDS: HEADER-CONTAINER-->

        <div class="main">
            <div class="box1-container">
                <div class="box1">
                    <!--<p>div 1</p>-->
                    <div class="box2-container">
                        <div class="box2">
                            <!--<p>div2</p>-->
                        </div>
                        <!--// ENDS: BOX2-->
                    </div>
                    <!--// ENDS: BOX2-CONTAINER -->
                </div>
                <!--// ENDS: BOX1-->
            </div>
            <!--// ENDS: BOX1-CONTAINER -->
        </div>
        <!--// ENDS: MAIN -->
    </div>
    <!--// ENDS: WRAPPER -->

</body></html>
