/**
// ==========================================================================
//  Layout 1 CSS FILE
// ==========================================================================
**/

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/* CSS FILE COMMENTS [ INLINE ] */

div.box {
  width: 130px;
  height: 130px;
  background-color: black;
  color: white;
}

div.box-negative-space{
    flex:1 1 1%;
    background-color: white;
}

div.box1{
    align-self: stretch;
}

div.box-spacer{
    flex: 0 1 1%;
}

